@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
}

@layer utilities {
  .overview {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #9147ff;
  --primary-hover: #680bf3;

}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #9147ff;
  --primary-hover: #680bf3;
}

:root {
  --auto-fit: repeat(auto-fit, minmax(150px, 170px));
  --swing: swing .5s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background: var(--background);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}



.genres-dropdown::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  height: 30px;
  background: transparent;
  display: none;
}

.genres-dropdown:hover::before {
  display: block;
  pointer-events: auto;
}

.loading {
  animation: loading 2s infinite ease-in-out;
}

input {
  outline: none;
}




@keyframes loading {
  0% {
    opacity: 0.5;

  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}